* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #671313, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: rgb(21, 14, 14);
}

h1 {
  margin-bottom: 5px;
}

select, textarea {
  width: 60%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  background: #e2d8d8;
  
}

textarea {
  height: 90px;
  resize: none;
}